# Virtual Environment
venv/
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Media Assets (Crucial to ignore these heavy files)
raw_video.mp4
final_desktop_screening.mp4
episode_subs.ur.vtt
episode_subs.ur.srt
output_malayalam.mp3
chunk_*.mp3
*.mp4
*.mp3
*.srt
*.vtt
*.wav
temp_analysis_audio.wav

# macOS system files
.DS_Store